@import '~@angular/material/prebuilt-themes/purple-green.css';
.image{
  height: 40em;
  background-size:cover;
  width:auto;
  background-image:url('https://www.mixdecor.ru/upload/iblock/756/7564cd9a1bbf5f37be9a09bf56c75dee.jpg') ;
  background-position:50% 50%;
}
.outside
{
  background-image:url('https://www.mixdecor.ru/upload/iblock/756/7564cd9a1bbf5f37be9a09bf56c75dee.jpg') ;

}
